<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Traveler #<%= @traveler.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/travelers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/travelers/<%= @traveler.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit traveler
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @traveler.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @traveler.password %>
      </dd>

      <dt>
        Home airport
      </dt>
      <dd>
        <%= @traveler.home_airport %>
      </dd>

      <dt>
        Username
      </dt>
      <dd>
        <%= @traveler.username %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@traveler.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@traveler.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "traveler_templates/traveler_itineraries" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "traveler_templates/traveler_expenses" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "traveler_templates/traveler_trips" %>
  </div>
</div>
