<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Itinerary #<%= @itinerary.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/itineraries" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_traveler == @itinerary.traveler %>
          <a href="/itineraries/<%= @itinerary.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit itinerary
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_traveler == @itinerary.traveler %>
          <a href="/delete_itinerary/<%= @itinerary.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete itinerary
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Traveler
      </dt>
      <dd>
        <% if @itinerary.traveler.present? %>
          <a href="/travelers/<%= @itinerary.traveler_id %>">
            <%= @itinerary.traveler.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Arrival flight
      </dt>
      <dd>
        <%= @itinerary.arrival_flight %>
      </dd>

      <dt>
        Departure flight
      </dt>
      <dd>
        <%= @itinerary.departure_flight %>
      </dd>

      <dt>
        Home airport
      </dt>
      <dd>
        <%= @itinerary.home_airport %>
      </dd>

      <dt>
        Destination
      </dt>
      <dd>
        <%= @itinerary.destination %>
      </dd>

      <dt>
        Trip
      </dt>
      <dd>
        <% if @itinerary.trip.present? %>
          <a href="/trips/<%= @itinerary.trip_id %>">
            <%= @itinerary.trip.destination %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@itinerary.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@itinerary.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

