<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Itinerary #<%= @itinerary.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/itineraries" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link itinerary start -->
      <div class="col">
        <a href="/itineraries/<%= @itinerary.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit itinerary
        </a>
      </div>
      <!-- Edit link itinerary end -->

      <!-- Delete link itinerary start -->
      <div class="col">
        <a href="/delete_itinerary/<%= @itinerary.id %>" class="btn btn-block btn-outline-secondary">
          Delete itinerary
        </a>
      </div>
      <!-- Delete link itinerary end -->
    </div>

    <dl>
      <dt>
        Traveler
      </dt>
      <!-- Display traveler_id start -->
      <dd>
        <%= @itinerary.traveler_id %>
      </dd>
      <!-- Display traveler_id end -->

      <dt>
        Arrival flight
      </dt>
      <!-- Display arrival_flight start -->
      <dd>
        <%= @itinerary.arrival_flight %>
      </dd>
      <!-- Display arrival_flight end -->

      <dt>
        Departure flight
      </dt>
      <!-- Display departure_flight start -->
      <dd>
        <%= @itinerary.departure_flight %>
      </dd>
      <!-- Display departure_flight end -->

      <dt>
        Home airport
      </dt>
      <!-- Display home_airport start -->
      <dd>
        <%= @itinerary.home_airport %>
      </dd>
      <!-- Display home_airport end -->

      <dt>
        Destination
      </dt>
      <!-- Display destination start -->
      <dd>
        <%= @itinerary.destination %>
      </dd>
      <!-- Display destination end -->

      <dt>
        Trip
      </dt>
      <!-- Display trip_id start -->
      <dd>
        <%= @itinerary.trip_id %>
      </dd>
      <!-- Display trip_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@itinerary.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@itinerary.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
